@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700');
:root{
    --page_width: 860px;
    --page_height: 400px;


}

*{
    margin: 0;
    padding: 0;


}

body{
    font-family: 'Open Sans';
}


img{
    display:block;

}


    
#main {
    margin: 0 auto;
    width:var(--page_width);
    padding-bottom: 100%;
    background: #aaa;
}

.menu {
    width: var(--page_width);
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background-color: #ff66ff;
    float:top;
}

.menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.menu li { 
	display: inline; 
	padding: 15px; 
    width: 200px;
}

.menu a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    font-size: 16px;
    -webkit-transition: .50s;
    transition: .50s;
}

.menu li{
    padding:50;


}

.menu a:hover {
    color: #FF00DD;
    font-size: 18px;
    background-color: #FFF;
}

