@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,800,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@charset "utf-8";

@import url(StrawberriesAndFrills.css);



$link_font: 'Open Sans';
$content_font_family: 'Open Sans';


$width_of_site_area:      860px;
$sidebar_color:           #8e44ad;
$selected_flash_color:    #C192D4; //E1C2ED;
$selected_flashing_speed: .125s;
$content_background:      #ecf0f1;
$active_button_color:     hotpink;
$menu_button_color:       #ecf0f1;
$footer_color:            black;
$banner_height:           400px;
$top_menu_bar_height:     30px;
$floater_width:           150px;
$shadow_dept:             8px;



*{
	margin:0;
	padding:0;
	border:white solid 0px;
}







#bgimg {
	display: block;
	overflow: auto; 
	height:100%;
	width: 100%;
	background: url(/static/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



body{
	font-family: 'Open Sans';
	font-size: 16px;
	height: 100%;
	width: 100%


}




#site_container{
	border-top-left-radius:  500px;
	border-top-right-radius: 500px; /*500px*/
	overflow:auto;
	float:left;
	width: $width_of_site_area;
	height: auto;
	display: block;
	background: $sidebar_color;
    box-shadow: $shadow_dept $shadow_dept 0px 0px rgba(0,0,0,0.2); 


}

#banner{

   content:url(/static/banner.jpg);

}



.cool_buttons a{
	font-family: $link_font;
	display: block;
	text-decoration: none;
	font-size: 20;
	font-weight: 400;
	color: $menu_button_color;
	transition:.25s;


}



.cool_buttons a:hover{
	font-family: 'Noto Sans Japanese';
	font-size: 0;
	color: white;
    -webkit-animation: color_switch ($selected_flashing_speed*2) infinite; /* Chrome, Safari, Opera */
    animation: color_switch ($selected_flashing_speed*2) infinite; /* Chrome, Safari, Opera */

}

.cool_button:hover:after {
	content: attr(data-btn-alt);
    font-size: 16px;
    font-weight: 800;
    word-wrap: break-word;
}

#topbar{
	height:$top_menu_bar_height;
	width: $width_of_site_area;
	display: block;
	background: $sidebar_color;

}


#topbar ul{
	text-align: center;
	list-style-type: none;


}




#topbar li{
	display: inline-block;
	vertical-align: text-top;
	width: 150px;
	height: 30px;
	padding-left: 0px;
	margin: 0 0 5px 0;
	transition: $selected_flashing_speed*.5;



}
#topbar li:hover{
	padding-left: 0px;
	border-left: 1px solid $menu_button_color;
	border-right: 1px solid $menu_button_color;
    -webkit-animation: flashing_menu $selected_flashing_speed infinite; /* Chrome, Safari, Opera */
    animation: flashing_menu $selected_flashing_speed infinite;

}



#sidebar{
	margin: 0 auto;
	width: 100px;
	height:100%;
	float:left;
	padding:15px;
	background: $sidebar_color;

	

}


#sidebar ul{
	list-style-type: none;


}

#sidebar li{
	display: block;
	vertical-align: text-top;
	width: 100px;
	height: 30px;
	overflow: hidden;
	padding-left: 0px;
	margin: 0 0 10px 0;
	transition: $selected_flashing_speed*.5;


}
#sidebar li:hover{
	padding-left: 0px;
	text-align: left;
	border-top: .25px solid $menu_button_color;
	border-bottom: .25px solid $menu_button_color;
    -webkit-animation: flashing_menu $selected_flashing_speed infinite; /* Chrome, Safari, Opera */
    animation: flashing_menu $selected_flashing_speed infinite;
}





#content{
	font-family: $content_font_family;
	text-align: justify;
	overflow: auto;
	width:700px;
	border: none;
	float:left;
	padding: 15px;
	height:auto;
	background: $content_background;


}


#floater_container{
	overflow: auto;
	margin:0 auto;
	padding-left: $floater_width;
	display:block;
	height:auto;
	width:(930px + $floater_width);
	overflow: auto;
	padding-top: 25px;
	padding-bottom: 50px;





}



.floater{

	display: block;
	border: white 3px solid;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 20px;
	float: left;
	color:white;
	width:$floater_width;
	height:150px;
	padding:15px;
	background: #FF54EB;
    box-shadow: $shadow_dept $shadow_dept 0px 0px rgba(0,0,0,0.2); 



}

.floater_first{


	margin-top: ($banner_height + $top_menu_bar_height);

}




#footer{
	background: $footer_color;
	color:white;
	width: $width_of_site_area;
	float:left;
	clear:both;
	width: $width_of_site_area;
	height:50px;



	p{
		display: block;
		width:auto;
		padding:15px;
		font-size: 15px;
		color:white;
		text-align: center;

	}

}



// animations


// flashing for the menu buttons

@-webkit-keyframes flashing_menu {
	from{
		background: $sidebar_color;
	}
	to{
		background: $selected_flash_color;
	}
}

@keyframes flashing_menu {
	from{
		background: $sidebar_color;
	}
	to{
		background: $selected_flash_color;
	}
}

//color change for the hovered menu items

@-webkit-keyframes color_switch {
	from{
	-webkit-text-stroke:.8px $active_button_color;
    text-shadow: 0px 0px 5px $active_button_color;
	}
	to{
	-webkit-text-stroke:.8px purple;
    text-shadow: 0px 0px 5px purple;
	}
}

@keyframes color_switch {
	from{
	-webkit-text-stroke:.8px $active_button_color;
    text-shadow: 0px 0px 5px $active_button_color;
	}
	to{
	-webkit-text-stroke:.15px purple;
    text-shadow: 0px 0px 5px purple;
	}
}
