@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,800,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@charset "utf-8";

@import url(StrawberriesAndFrills.css);



$link_font: 'Open Sans';
$content_font_family: 'Open Sans';


$width_of_site_area:      860px;
$sidebar_color:           black;
$selected_flash_color:    #222;
$selected_flashing_speed: .125s;
$content_background:      #FFDEF8;
$active_button_color:     hotpink;
$menu_button_color:       #3ACCD6;
$footer_color:            black;

*{
	margin:0;
	padding:0;
	border:white;
}







#bgimg {
	display: block;
	overflow: auto; 
	height:100%;
	width: 100%;
	background: url(/static/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



body{
	font-family: 'Open Sans';
	font-size: 16px;
	height: 100%;
	width: 100%


}




#site_container{
	border-radius: 20px; /*500px*/
	overflow:auto;
	margin:0 auto;
	width: $width_of_site_area;
	height: auto;
	display: block;
	background: $sidebar_color;



}

#banner{

   content:url(/static/banner.jpg);

}



.cool_buttons a{
	font-family: $link_font;
	display: block;
	text-decoration: none;
	font-size: 20;
	font-weight: 400;
	color: $menu_button_color;
	transition:.25s;


}



.cool_buttons a:hover{
	font-family: 'Noto Sans Japanese';
	font-size: 0;
	color: white;
    -webkit-animation: color_switch ($selected_flashing_speed*2) infinite; /* Chrome, Safari, Opera */
    animation: color_switch ($selected_flashing_speed*2) infinite; /* Chrome, Safari, Opera */

}

.cool_button:hover:after {
	content: attr(data-btn-alt);
    font-size: 16px;
    font-weight: 800;
    word-wrap: break-word;
}

#topbar{
	height:30px;
	width: $width_of_site_area;
	display: block;
	background: $sidebar_color;

}


#topbar ul{
	text-align: center;
	list-style-type: none;


}




#topbar li{
	display: inline-block;
	vertical-align: text-top;
	width: 150px;
	height: 30px;
	padding-left: 0px;
	margin: 0 0 5px 0;
	transition: .8s;



}
#topbar li:hover{
	padding-left: 0px;
	border-left: 1px solid $menu_button_color;
	border-right: 1px solid $menu_button_color;
    -webkit-animation: flashing_menu $selected_flashing_speed infinite; /* Chrome, Safari, Opera */
    animation: flashing_menu $selected_flashing_speed infinite;

}



#sidebar{
	margin: 0 auto;
	width: 100px;
	height:100%;
	float:left;
	padding:15px;
	background: $sidebar_color;

	

}


#sidebar ul{
	list-style-type: none;


}

#sidebar li{
	display: block;
	vertical-align: text-top;
	width: 100px;
	height: 30px;
	overflow: hidden;
	padding-left: 0px;
	margin: 0 0 10px 0;
	transition: .8s;


}
#sidebar li:hover{
	padding-left: 0px;
	text-align: left;
	border-top: .25px solid $menu_button_color;
	border-bottom: .25px solid $menu_button_color;
    -webkit-animation: flashing_menu $selected_flashing_speed infinite; /* Chrome, Safari, Opera */
    animation: flashing_menu $selected_flashing_speed infinite;
}





#content{
	font-family: $content_font_family;
	text-align: justify;
	overflow: auto;
	width:700px;
	border: none;
	float:left;
	padding: 15px;
	height:auto;
	background: $content_background;


}


#floater_container{
	margin:0 auto;
	display:block;
	height:auto;
	width:1300;
	overflow: auto;
	padding-top: 50px;
	padding-bottom: 50px;




}



.floater{

	display: block;
	border: red 1px solid;
	float: right;
	color:white;
	width:10px;
	height: 5px;
	background: pink;



}





#footer{
	background: $footer_color;
	color:white;
	width: $width_of_site_area;
	float:left;
	clear:both;
	width: $width_of_site_area;
	height:50px;




}

#footer p{
	display: block;
	width:auto;
	padding:15px;
	font-size: 15px;
	color:white;
	text-align: center;



}



// animations


// flashing for the menu buttons

@-webkit-keyframes flashing_menu {
	from{
		background: $sidebar_color;
	}
	to{
		background: $selected_flash_color;
	}
}

@keyframes flashing_menu {
	from{
		background: $sidebar_color;
	}
	to{
		background: $selected_flash_color;
	}
}

//color change for the hovered menu items

@-webkit-keyframes color_switch {
	from{
	-webkit-text-stroke:.8px $active_button_color;
    text-shadow: 0px 0px 5px $active_button_color;
	}
	to{
	-webkit-text-stroke:.8px purple;
    text-shadow: 0px 0px 5px purple;
	}
}

@keyframes color_switch {
	from{
	-webkit-text-stroke:.8px $active_button_color;
    text-shadow: 0px 0px 5px $active_button_color;
	}
	to{
	-webkit-text-stroke:.15px purple;
    text-shadow: 0px 0px 5px purple;
	}
}
